html {
  height: 100%;
  width: 100%;
}

body {
  font-family:'Calibri', Serif;
}

.skip-link {
  position:absolute;
  top:-1000px;
  color:rgb(0, 56, 152);
}

main {
  background-color:#B9F2FF;
}

header {
background-color:#5BE0FF;
}

a {
  color:#055778;
}


h1 {
  display:inline-block;
}

.grid img {
  width: 75%;
}

img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

li {
  display:flex;
  color: #4f4f4f;
  font-size: 16px;
  list-style-type: none;
}

nav {
  background-color: #037b99;
  display: inline;
  width: 100%;
  font-family:'Impact';
  text-decoration:overline;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.flex li:nth-child(odd) {
  border-radius: 50%
}

.flex img{
  border: 2px solid darkblue;
  padding: 3px;
  margin: 10px;
}

.grid-list {
  display: grid; 
  grid-template-columns: 30% 30% 30%;
  gap: 10px; 
  list-style: none; 
  padding: 0;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.grid-list li {
  background-color: #f6f3ba;
  padding: 10px;
  border-color: #055778;
  border-radius: 5px;
}

img {
  width:200px;
  height:auto;
  border: 3px solid rgb(76, 76, 76);
  padding: 2px;
  border-radius: 5px;
}
